[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-livereload-server = "*"
django-webpack-loader = "*"
honcho = "*"


[dev-packages]



[requires]

python_version = "3.7"
